@font-face {
	font-family: 'Pacifico';
	src: url('pacifico.ttf');
}
@font-face {
	font-family: 'Mulish';
	src: url('mulish.ttf');
}
:root {
	--main-color: red;
}
* {
	margin: 0;
	padding: 0;
	outline: none;
	box-sizing: border-box;
	text-align: center;
	font-family: 'Mulish', sans-serif;
	font-size: 1.04em;
	font-weight: normal;
}
span {
	color: var(--main-color);
}
sup {
	font-size: 0.8em;
}
h1 {
	margin: 2.3rem 0;
	color: var(--main-color);
	font-family: 'Pacifico';
	font-size: 2.85em;
}
h2 {
	font-size: 1.5em;
}
table {
/*	margin-left: 0.8rem;*/
	width: calc(100vw - 1.6rem);
	/*border-collapse: separate;
	border-spacing: 0 0.5rem;*/
	margin-bottom: 1.75rem;
}
table caption {
	padding-left: 10vw;
	text-align: left;
	font-size: 1.2em;
	color: var(--main-color);
}
table:first-of-type {
	margin-top: 3rem;
}
table tr th, table tr td {
	padding: 0 0.3rem;
	font-size: 1.4em;
}
table:last-of-type tr th {
	width: calc(62vw - 0.8rem);
	text-align: right;
}
table:last-of-type tr th + td {
	padding-top: 0.3rem;
}
table:first-of-type tr th {
	width: calc(50vw - 0.8rem);
	text-align: right;
}
table:first-of-type tr th + td {
	padding-top: 1rem;
}
table tr td:first-of-type:not(:last-of-type) {
	width: 15rem;
	text-align: center;
}
table tr td:last-of-type {
	text-align: left;
	color: var(--main-color);
}
table tr td:last-of-type::after {
	content: ' руб.';
	color: black;
}
table tr td:last-of-type span {
	color: black;
}
p {
	margin: 1rem 0;
	font-size: 1.3em;
}
/*p > span {
	margin-top: 2rem;
	color: black;
	font-size: 2.2em;
}*/
/*p span span {
	color: var(--main-color);
}*/
h3 {
	position: absolute;
	right: 1rem;
	bottom: 1rem;
	color: var(--main-color);
	font-family: 'Pacifico';
	font-size: 1.25rem;
}