@font-face {
	font-family: 'Pacifico';
	src: url('pacifico.ttf');
}
@font-face {
	font-family: 'Mulish';
	src: url('mulish.ttf');
}
:root {
	--main-color: red;
}
* {
	margin: 0;
	padding: 0;
	outline: none;
	box-sizing: border-box;
	text-align: center;
	font-family: 'Mulish', sans-serif;
	font-size: 1.2em;
	font-weight: normal;
}
span {
	color: #616161;
}
h1 {
	margin: 2.3rem 0;
	color: var(--main-color);
	font-family: 'Pacifico';
	font-size: 2.85em;
}
p {
	margin-bottom: 2rem;
	font-size: 1.3em;
	font-weight: bold;
}
ul li {
	margin: 2.5rem 0;
}
ul li:not(span) {
	font-weight: bold;
}
h3 {
	position: absolute;
	right: 1rem;
	bottom: 1rem;
	color: var(--main-color);
	font-family: 'Pacifico';
	font-size: 1.25rem;
}